In [4]:
import pandas as pd

In [5]:
input = pd.read_csv(r'C:\\Users\\ma7492\\Desktop\\AdventOfCode\\input_day1.txt',delimiter="\t")

In [6]:
input.head()

   values
0     183
1     185
2     186
3     182
4     185

In [7]:
type(input)

pandas.core.frame.DataFrame

In [8]:
input.shape

(2000, 1)

In [9]:
type(input.iloc[0])

pandas.core.series.Series

In [10]:
input.iloc[4]

values    185
Name: 4, dtype: int64

In [11]:
row, col = input.shape
print(row)
print(col)

2000
1

In [30]:
count = 0
for i in range(row):
    if input['values'].iloc[i-1] < input['values'].iloc[i] :
        count += 1
    else:
        count += 0
print('the input incremented', count, 'times')

the input incremented 1722 times