Importing pandas

In [2]:
import pandas as pd

Creating a dataframe

In [6]:
data = {
    'Name': ['Hema', 'Rekha', 'Jaya', 'Sushma'],
    'Age' : [28,35,66,12],
    'Score': [85,77,35,65]
    }

df = pd.DataFrame(data)
print(df)

     Name  Age  Score
0    Hema   28     85
1   Rekha   35     77
2    Jaya   66     35
3  Sushma   12     65

Reading a CSV

In [6]:
df = pd.read_csv("SampleData1.csv")
print(df)

     Name  Age  Score
0    Hema   28     85
1   Rekha   35     77
2    Jaya   66     35
3  Sushma   12     65