In [14]:
import pandas as pd

In [18]:
input = pd.read_csv('test input.txt',delimiter="\t")

In [19]:
input.head()

  directions
0  forward 5
1     down 5
2  forward 8
3       up 3
4     down 8

In [20]:
print(input['directions'].iloc[1].split())

['down', '5']

In [21]:
new_input = []
for i in range(len(input)):
    input_split = input['directions'].iloc[i].split()
    new_input.append(input_split)
print(new_input)

[['forward', '5'], ['down', '5'], ['forward', '8'], ['up', '3'], ['down', '8'], ['forward', '2']]

In [22]:
type(new_input)

list

In [23]:
df = pd.DataFrame.from_records(new_input)

In [24]:
type(df)

pandas.core.frame.DataFrame

In [25]:
df.columns = ['direction', 'value']

In [26]:
df.head()

  direction value
0   forward     5
1      down     5
2   forward     8
3        up     3
4      down     8

In [27]:
row, col = df.shape
print(row)
print(col)

6
2

In [38]:
aim = 0 
horizontal = 0
depth = 0
for i in range(row): 
    if df['direction'].iloc[i] == 'down':
        aim = aim + int(df['value'].iloc[i])
    elif df['direction'].iloc[i] == 'up':
        aim = aim - int(df['value'].iloc[i])
    elif df['direction'].iloc[i] == 'forward':       
        horizontal = horizontal + int(df['value'].iloc[i])
        depth = dept aim * int(df['value'].iloc[i])
print(horizontal)
print(depth)    
print(aim)

15
0
10

In [39]:
final = horizontal * depth
print(final)

0