In [1]:
#!pip install polars

Collecting polars
  Downloading polars-1.33.1-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (39.7 MB)
     |████████████████████████████████| 39.7 MB 10.6 MB/s eta 0:00:01
Installing collected packages: polars
Successfully installed polars-1.33.1

In [4]:
import polars as pl
from datetime import date

In [5]:
df1 = pl.DataFrame(

    {

        "a": [1, 2, 3],

        "b": ["zz", "yy", "xx"],

        "c": [date(1999, 12, 31), date(2010, 10, 10), date(2077, 8, 8)],

    }

)

In [6]:
df1.head()

shape: (3, 3)
┌─────┬─────┬────────────┐
│ a   ┆ b   ┆ c          │
│ --- ┆ --- ┆ ---        │
│ i64 ┆ str ┆ date       │
╞═════╪═════╪════════════╡
│ 1   ┆ zz  ┆ 1999-12-31 │
│ 2   ┆ yy  ┆ 2010-10-10 │
│ 3   ┆ xx  ┆ 2077-08-08 │
└─────┴─────┴────────────┘

In [7]:
df1.sql("SELECT c, b FROM self WHERE a > 1")

shape: (2, 2)
┌────────────┬─────┐
│ c          ┆ b   │
│ ---        ┆ --- │
│ date       ┆ str │
╞════════════╪═════╡
│ 2010-10-10 ┆ yy  │
│ 2077-08-08 ┆ xx  │
└────────────┴─────┘

In [8]:
df1.sql(

    query='''

        SELECT

            a,

            (a % 2 == 0) AS a_is_even,

            CONCAT_WS(':', b, b) AS b_b,

            EXTRACT(year FROM c) AS year,

            0::float4 AS "zero",

        FROM frame

    ''',

    table_name="frame",

)

shape: (3, 5)
┌─────┬───────────┬───────┬──────┬──────┐
│ a   ┆ a_is_even ┆ b_b   ┆ year ┆ zero │
│ --- ┆ ---       ┆ ---   ┆ ---  ┆ ---  │
│ i64 ┆ bool      ┆ str   ┆ i32  ┆ f32  │
╞═════╪═══════════╪═══════╪══════╪══════╡
│ 1   ┆ false     ┆ zz:zz ┆ 1999 ┆ 0.0  │
│ 2   ┆ true      ┆ yy:yy ┆ 2010 ┆ 0.0  │
│ 3   ┆ false     ┆ xx:xx ┆ 2077 ┆ 0.0  │
└─────┴───────────┴───────┴──────┴──────┘