In [25]:
import pandas as pd

df = pd.read_csv("/workspaces/codespaces-jupyter/data/Day1.csv")

print(df)

                                               data
0                           dssmtmrkonedbbhdhjbf9hq
1                    2njsevenszzsfltconesixhsflpbpd
2                 6shgbprkpbksnfourfivemvncvg2eight
3    eightseventhree7lfqpnclxnnineninemgkjtqksrdone
4            bsxxzhkmmfcslmdhhrgf9seven665lsknmbpgj
..                                              ...
995                                   2eight8fmktlf
996                vjchzt7btthreesix1tcngpbtzsfmvsx
997                                            sjv8
998     ncqpkzh5twooneoneqfxlqbjjhqsrlkhvdnvtbzpcbj
999                                 449three45three

[1000 rows x 1 columns]

In [26]:
def first_last_digit(string):
    #finding digits in the string
    digits = [i for i in string if i.isdigit()]

    #combining first and last digit
    if digits:
        concatenated = digits[0] + digits[-1]
        return concatenated
    else:
        return 0

In [27]:
df_function = df.apply(
    lambda row: first_last_digit(row[0]),
    axis=1
)

In [29]:
print(df_function)

0      99
1      22
2      62
3      77
4      95
       ..
995    28
996    71
997    88
998    55
999    45
Length: 1000, dtype: object

In [31]:
df_function = df_function.apply(pd.to_numeric)
print(df_function.dtypes)

int64

In [32]:
# calculating sum
df_sum = df_function.sum(axis=0)
print(df_sum)

53921

Part 2

In [55]:
#combined function

def convert_text_to_number(text):
    number_dict = {"zero": 0,
                           "one": 1,
                           "two": 2,
                           "three": 3,
                           "four": 4,
                           "five": 5,
                           "six": 6,
                           "seven": 7,
                           "eight": 8,
                           "nine": 9}
    
    text_lower = text.lower()

    if text_lower in number_dict:
        return number_dict[text_lower]
    else:
        return None
    
    


def combine_first_last(text):
    #finding digits in the string
    digits2 = [i for i in text if i.isdigit()]

    #find first and last characters or convert text to number
    if digits2:
        first_digit = digits2[0]
        last_digit = digits2[-1]

        if text.isalpha():
            first_number = convert_text_to_number(text[0])
            last_number = convert_text_to_number(text[-1])

            
            if first_number is not None:
                first_digit = first_number
            if last_number is not None:
                last_digit = last_number

        return first_digit + last_digit 
    else:
        return "no digits found"

In [56]:
df_function_2 = df.apply(
    lambda row: combine_first_last(row[0]),
    axis=1
)

In [57]:
print(df_function_2)

0      99
1      22
2      62
3      77
4      95
       ..
995    28
996    71
997    88
998    55
999    45
Length: 1000, dtype: object

In [58]:
df_function_2 = df_function_2.apply(pd.to_numeric)
print(df_function_2.dtypes)

int64

In [59]:
df_sum_2 = df_function_2.sum(axis=0)
print(df_sum_2)

53921